@model IEnumerable<TaskManagerMVC.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-3">Tasks list</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create new task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Done", "Done", new { id = item.TaskID }, new { @class = " btn btn-success" })
                    @Html.ActionLink("Details", "Details", new { id = item.TaskID }, new { @class = " btn btn-primary" })
                    @Html.ActionLink("Edid", "Edit", new { id = item.TaskID }, new { @class = " btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskID }, new { @class = " btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-outline-primary" asp-action="SeeDone">See done tasks</a>
</p>
